body {
  font-family: 'Rajdhani', sans-serif;
}
.body-wrapper {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.body-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.body-wrapper.no-scroll {
  overflow: hidden;
}
.scrollable-content {
  position: relative;
  width: 100%;
  height: auto;
}
.background-block {
  background: url("../img/background.png") top center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 600px) {
  .background-block {
    background: url("../img/mobile-dots2.png") left 2808px no-repeat, url("../img/mobile-dots1.png") right 1107px no-repeat, url("../img/events/mobile-background.png") top center no-repeat;
    background-size: contain;
  }
}
.background-dots-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-width: 1000px) {
  .background-dots-block {
    background: url("../img/about/right-dots.png") right 1193px no-repeat, url("../img/about/left-dots.png") left 532px no-repeat;
  }
}
ul {
  list-style-type: none;
}
h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
}
h2 {
  color: #305791;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
button {
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
}
p {
  font-family: Lato;
}
@media (max-width: 992px) {
  p {
    max-width: 80%;
    margin: 0 auto;
  }
}
button:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.container {
  max-width: 1114px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media (max-width: 414px) {
  .container {
    width: unset;
    margin: 0;
  }
}
.header {
  position: relative;
  margin-bottom: 56px;
  height: 22vw;
  min-height: 310px;
}
.header .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.header .row {
  margin-left: -17px;
  margin-right: -17px;
}
.header-content {
  padding-top: 109px;
}
.header-content h1 {
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.header .logo {
  position: absolute;
  top: 19px;
  left: 24px;
}
.header .menu {
  float: right;
  position: relative;
  z-index: 10;
}
.header .menu ul {
  float: left;
  padding-right: 27px;
  padding-top: 24px;
}
.header .menu li {
  display: inline;
  padding-left: 27px;
}
.header .menu li.active > a:before {
  content: url("../img/left-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li.active > a:after {
  content: url("../img/right-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li:nth-child(2).active a:after {
  left: 5px;
}
.header .menu li:nth-child(3).active a:after {
  left: 10px;
}
.header .menu li:nth-child(4).active a:after {
  left: 15px;
}
.header .menu li:nth-child(5).active a:after {
  left: 12px;
}
.header .menu li:hover > a {
  color: #448E28;
}
.header .menu li:hover .modals {
  display: block;
}
.header .menu a,
.header .menu p {
  color: #234D70;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
  position: relative;
  display: inline;
}
.header .menu a:hover,
.header .menu p:hover,
.header .menu a:focus,
.header .menu p:focus,
.header .menu a:visited,
.header .menu p:visited {
  text-decoration: none;
}
.header .menu button {
  height: 36px;
  width: 130px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 57px;
  display: block;
}
.header .menu .modals {
  position: absolute;
  top: 0;
  display: none;
}
.header .menu .modals li {
  display: block;
  padding-left: 24px;
  padding-bottom: 16px;
}
.header .menu .modals li a {
  color: #234D70;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
}
.header .menu .modals li:hover a {
  color: #448E28;
}
.header .menu .modals ul {
  padding: 25px 0;
  background-color: white;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.15);
}
.header .menu .modals.resources {
  left: 288px;
}
.header .menu .modals.resources ul {
  height: 145px;
  width: 150px;
  margin-top: 66px;
}
.header .menu .modals.platform {
  left: 134px;
}
.header .menu .modals.platform ul {
  height: 254px;
  width: 250px;
  margin-top: 66px;
}
.header .menu .modals.solutions {
  left: 220px;
}
.header .menu .modals.solutions ul {
  height: 320px;
  width: 180px;
  margin-top: 66px;
}
.header .menu .modals.company {
  left: 410px;
}
.header .menu .modals.company ul {
  height: 175px;
  width: 130px;
  margin-top: 66px;
}
.header .menu-open {
  display: none;
  position: absolute;
  top: 19px;
  right: 4%;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
  box-shadow: none;
}
.header .sticky-menu {
  position: fixed;
  width: calc(100% - 12px);
  height: 70px;
  z-index: 999;
  transition: background 1s;
}
.header .sticky-menu.fixed {
  background: white;
}
@media (max-width: 776px) {
  .header .sticky-menu {
    height: 60px;
    transition: background 0.5s;
  }
}
@media (max-width: 776px) {
  .header {
    height: 227px;
    margin-bottom: 52px;
    min-height: unset;
  }
  .header .container,
  .header .row,
  .header .logo,
  .header .col-md-* {
    margin: 0;
  }
  .header-content h1 {
    max-width: 375px;
    font-size: 31px;
    letter-spacing: 0.4px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .logo {
    width: 100%;
    top: 18px;
    left: 19px;
  }
  .header .menu {
    display: none;
  }
  .header .menu-open {
    display: block;
  }
}
.info h2 {
  margin-bottom: 39px;
}
.info p {
  color: #161616;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 28px;
  margin-bottom: 8px;
}
.info button {
  height: 35px;
  width: 150px;
  margin-top: 67px;
  margin-bottom: 102px;
}
@media (max-width: 414px) {
  .info {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
  .info h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    max-width: 80%;
    line-height: 38px;
  }
  .info p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    width: 311px;
    max-width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.07999998px;
  }
  .info button {
    margin-top: 65px;
    margin-left: 7px;
    width: 327px;
    max-width: 90%;
  }
}
.photos {
  padding-bottom: 74px;
  background: url("../img/events/mobile-background-rectangle.svg") top center no-repeat;
  background-size: cover;
}
.photos img {
  height: 366px;
  width: 100%;
}
@media (max-width: 1439px) {
  .photos img {
    height: unset;
  }
}
.photos .col-md-4,
.photos .col-md-8,
.photos .col-md-12 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
.photos .row {
  margin-left: -5px;
  margin-right: -5px;
}
@media (max-width: 414px) {
  .photos img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    max-width: 365px;
    display: block;
  }
  .photos .col-md-4,
  .photos .col-md-8,
  .photos .col-md-12 {
    padding: 0;
  }
  .photos .row {
    margin: 0;
  }
}
.join-us {
  margin-bottom: 100px;
}
.join-us h2 {
  margin-bottom: 34px;
}
.join-us .green {
  color: #448E28;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 26px;
  margin-bottom: 0;
}
.join-us .text-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 628px;
  color: #161616;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 27px;
  margin-bottom: 19px;
}
.join-us .sign {
  line-height: 28px;
  margin-bottom: 35px;
}
.join-us .visit {
  line-height: 27px;
  margin-bottom: 24px;
}
.join-us button {
  height: 40px;
  width: 200px;
}
@media (max-width: 414px) {
  .join-us h2 {
    margin-bottom: 28px;
    padding-top: 80px;
  }
  .join-us p,
  .join-us .green,
  .join-us .sign,
  .join-us .text-block {
    width: 300px;
  }
  .join-us .green {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
  }
  .join-us .sign {
    margin-bottom: 18px;
  }
  .join-us .visit {
    margin-top: 35px;
    width: 210px;
    font-size: 15px;
    line-height: 25px;
  }
  .join-us button {
    height: 40px;
    width: 328px;
    max-width: 90%;
    margin-top: 8px;
  }
}
.footer {
  position: relative;
  height: 427px;
}
.footer-content {
  padding-top: 58px;
  height: 356px;
  background-color: #142c48;
}
.footer .home {
  margin-left: 9px;
}
.footer .platform {
  margin-left: 7px;
}
.footer .resources {
  margin-left: 0px;
}
.footer .solutions {
  margin-left: -7px;
}
.footer .company {
  margin-left: -12px;
}
.footer h5 > a,
.footer h5 {
  margin-bottom: 14px;
  color: #85A6B9;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.07px;
}
.footer li > a {
  display: inline-block;
  margin-top: 2px;
  padding-bottom: 22px;
  color: #DCE5EC;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 17px;
}
.footer ul {
  margin-top: -10px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 23px;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  font-weight: 400;
  color: #DCE5EC;
  line-height: 17px;
}
.footer-floor {
  padding-top: 27px;
  height: 71px;
  background-color: #0e2133;
}
.footer-floor a,
.footer-floor p {
  color: #DCE5EC;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.07px;
  line-height: 18px;
}
.footer-floor .terms {
  margin-left: 3px;
}
.footer-floor p {
  margin-left: -5px;
}
.footer .logo {
  position: absolute;
  top: 48px;
  left: 40px;
}
@media (max-width: 1130px) {
  .footer {
    height: 881px;
    background-color: #142c48;
  }
  .footer .logo {
    position: unset;
  }
  .footer img {
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer-content {
    padding-top: 42px;
    padding-left: 10px;
    height: unset;
    margin-left: 15px;
  }
  .footer-content .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .home {
    margin-left: 7px;
    margin-bottom: 40px;
  }
  .footer .col-md-1,
  .footer .col-md-2,
  .footer .col-md-3 {
    width: 50%;
  }
  .footer .col-md-offset-1,
  .footer .col-md-offset-2 {
    margin-left: 0;
  }
  .footer .platform {
    margin-bottom: 5px;
  }
  .footer .platform li > a {
    line-height: 20px;
  }
  .footer .resources {
    margin-left: 8px;
  }
  .footer .solutions {
    margin-left: 12px;
  }
  .footer .company {
    margin-left: 13px;
    margin-top: -14px;
  }
  .footer-floor {
    height: 139px;
    padding-top: 31px;
  }
  .footer-floor .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-floor .row > [class*=col-] {
    margin-left: -1px;
    margin-right: -1px;
    padding-right: 0;
  }
  .footer-floor a,
  .footer-floor p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-floor p {
    margin-left: 0;
    padding-top: 20px;
  }
  .footer .pixart {
    padding-top: 20px;
  }
}
.footer .pixart a {
  color: #dce5ec;
  font-weight: 600;
}
@media (max-width: 414px) {
  .footer-content .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 1%, rgba(241, 245, 248, 0.96) 50%, #f0f4f7 100%);
}
.mobile-menu .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
.mobile-menu#menu-root a,
.mobile-menu#menu-root span {
  font-size: 22px;
}
.mobile-menu#menu-root ul {
  padding: 107px 0;
}
.mobile-menu#menu-root li {
  margin-bottom: 28px;
}
.mobile-menu#menu-resources,
.mobile-menu#menu-platform,
.mobile-menu#menu-solutions,
.mobile-menu#menu-company,
.mobile-menu#menu-root {
  width: 100%;
  min-height: 100%;
  left: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.mobile-menu#menu-resources.opened,
.mobile-menu#menu-platform.opened,
.mobile-menu#menu-solutions.opened,
.mobile-menu#menu-company.opened,
.mobile-menu#menu-root.opened {
  transform: unset;
}
.mobile-menu .menu-list a,
.mobile-menu .menu-list span {
  font-family: Rajdhani;
  font-size: 18px;
  color: #234d70;
  letter-spacing: -0.11px;
  font-weight: 600;
}
.mobile-menu ul {
  padding: 47px 0 0 0;
  margin: 0;
}
.mobile-menu li {
  position: relative;
  text-align: center;
  margin-bottom: 29px;
}
@media (max-height: 568px) {
  .mobile-menu li {
    margin-bottom: 15px;
  }
}
.mobile-menu .next {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
}
.mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}
.mobile-menu .back {
  position: absolute;
  top: 18px;
  left: 13px;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.mobile-menu .trial-button {
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 246px;
  padding-top: 5px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu .menu-title {
  margin-top: 17px;
  font-family: Rajdhani;
  font-size: 22px;
  color: #448e28;
  letter-spacing: -0.11px;
  text-align: center;
  line-height: 27px;
  font-weight: 600;
}
@media (max-width: 776px) {
  .mobile-menu {
    display: block;
  }
}
.menu-block {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}
.menu-block button {
  box-shadow: none;
}
.menu-block.opened {
  z-index: 1000;
}
