body {
  font-family: 'Rajdhani', sans-serif;
  background: url("../img/platform/dots1.png") right 357px no-repeat, url("../img/platform/dots2.png") left 264px no-repeat, url("../img/platform/dots3.png") right 924px no-repeat, url("../img/platform/dots4.png") left 1564px no-repeat;
  background-size: auto;
}
.body-wrapper {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.body-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.body-wrapper.no-scroll {
  overflow: hidden;
}
.scrollable-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.background-block {
  background: url("../img/background.png") top center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 415px) {
  .background-block {
    background: url("../img/events/mobile-dots2.png") -34px 2130px no-repeat, url("../img/events/mobile-dots1.png") -480px 1032px no-repeat, url("../img/events/mobile-background.png") top center no-repeat;
    background-size: contain;
  }
}
ul {
  list-style-type: none;
}
h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
}
button:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.header {
  height: 413px;
  position: relative;
}
.header .container {
  margin-left: 165px;
  margin-right: 165px;
  padding-left: 0;
  padding-right: 0;
}
.header .row {
  margin-left: -17px;
  margin-right: -17px;
}
.header-content {
  padding-top: 197px;
}
.header-content p {
  color: #264f72;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.01px;
}
.header-content h2 {
  margin-top: -65px;
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.header .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
.header .menu {
  float: right;
  position: relative;
  z-index: 10;
}
.header .menu ul {
  float: left;
  padding-right: 27px;
  padding-top: 24px;
}
.header .menu li {
  display: inline;
  padding-left: 27px;
}
.header .menu li.active > a:before {
  content: url("../img/left-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li.active > a:after {
  content: url("../img/right-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li:nth-child(2).active a:after {
  left: 5px;
}
.header .menu li:nth-child(3).active a:after {
  left: 10px;
}
.header .menu li:nth-child(4).active a:after {
  left: 15px;
}
.header .menu li:nth-child(5).active a:after {
  left: 12px;
}
.header .menu li:hover > a {
  color: #448E28;
}
.header .menu li:hover .modals {
  display: block;
}
.header .menu a {
  color: #234D70;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
  position: relative;
}
.header .menu a:hover,
.header .menu a:focus,
.header .menu a:visited {
  text-decoration: none;
}
.header .menu button {
  height: 36px;
  width: 130px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 57px;
  display: block;
}
.header .menu .modals {
  position: absolute;
  top: 0;
  display: none;
}
.header .menu .modals li {
  display: block;
  padding-left: 24px;
  padding-bottom: 16px;
}
.header .menu .modals li a {
  color: #234D70;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
}
.header .menu .modals li:hover a {
  color: #448E28;
}
.header .menu .modals ul {
  padding: 25px 0;
  background-color: white;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.15);
}
.header .menu .modals.resources {
  left: 288px;
}
.header .menu .modals.resources ul {
  height: 145px;
  width: 150px;
  margin-top: 53px;
}
.header .menu .modals.platform {
  left: 134px;
}
.header .menu .modals.platform ul {
  height: 254px;
  width: 250px;
  margin-top: 66px;
}
.header .menu .modals.solutions {
  left: 220px;
}
.header .menu .modals.solutions ul {
  height: 320px;
  width: 180px;
  margin-top: 66px;
}
.header .menu .modals.company {
  left: 410px;
}
.header .menu .modals.company ul {
  height: 175px;
  width: 130px;
  margin-top: 66px;
}
.header .menu-open {
  display: none;
  position: absolute;
  top: 19px;
  right: 4%;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.header .sticky-menu {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
  transition: background 1s;
}
.header .sticky-menu.fixed {
  background: white;
}
@media (max-width: 776px) {
  .header .sticky-menu {
    height: 60px;
  }
}
@media (max-width: 776px) {
  .header {
    height: 327px;
  }
  .header .container,
  .header .row {
    margin: 0;
  }
  .header-content {
    padding-top: 113px;
  }
  .header-content h2 {
    margin: 0;
    font-size: 31px;
    font-weight: 700;
  }
  .header .logo {
    margin-left: -10px;
    margin-top: -3px;
  }
  .header .menu {
    display: none;
  }
  .header .menu-open,
  .header .mobile-menu {
    display: block;
  }
}
@media (max-width: 776px) and (max-width: 415px) {
  .header {
    height: 227px;
  }
}
.second {
  position: relative;
}
.second p {
  width: 700px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 17px;
}
@media (max-width: 415px) {
  .second {
    padding-top: 32px;
    margin: 0;
  }
  .second p {
    width: 300px;
    max-width: 80%;
    letter-spacing: 0.4px;
  }
}
.block .row {
  margin-left: -12px;
  margin-right: -12px;
  position: relative;
}
.block-left img {
  margin-left: -80px;
  margin-top: -16px;
}
@media (min-width: 1440px) {
  .block-left-box {
    margin-left: -33px;
  }
}
.block-left-box h3 {
  padding-top: 68px;
  color: #305791;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
}
.block-left-box p {
  width: 481px;
  max-width: 80%;
  padding-top: 12px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 26px;
}
.block-left-box-btn {
  margin-left: 40px;
  margin-top: 31px;
  height: 42px;
  width: 154px;
  border-radius: 2px;
  background-color: #EAF5FF;
  border: none;
  color: #5E91F0;
  font-family: Rajdhani;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 21px;
  text-align: center;
}
.block-right-box {
  margin-left: 40px;
}
.block-right-box h3 {
  padding-top: 68px;
  color: #305791;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
}
.block-right-box p {
  width: 490px;
  max-width: 80%;
  padding-top: 12px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 26px;
}
.block-right-box-btn {
  margin-top: 27px;
  height: 42px;
  width: 154px;
  border-radius: 2px;
  background-color: #EAF5FF;
  border: none;
  color: #5E91F0;
  font-family: Rajdhani;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 21px;
  text-align: center;
}
.block-right img {
  margin-left: -8px;
  margin-top: -16px;
}
.block .block1 {
  margin-top: 65px;
}
.block .block2 {
  margin-top: 113px;
}
.block .block2 p {
  width: 470px;
  max-width: 80%;
}
.block .block3 {
  margin-top: 112px;
}
.block .block3 p {
  width: 455px;
  max-width: 80%;
}
.block .block4 {
  margin-top: 110px;
}
.block .block4 p {
  width: 420px;
  max-width: 80%;
}
@media (max-width: 1439px) {
  .block-left img,
  .block-right img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .block-left-box,
  .block-right-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .block-left-box p,
  .block-right-box p,
  .block-left-box-btn,
  .block-right-box-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .block .block2,
  .block .block4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .block .block1,
  .block .block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 415px) {
  .block .container {
    margin: 0;
    width: 100%;
  }
  .block .container img {
    display: block;
    width: 372px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .block .col-md-6 {
    padding: 0;
    margin-bottom: 2px;
  }
  .block .block1 {
    margin-top: 75px;
    margin-bottom: 94px;
  }
  .block .block2 {
    margin-top: 0;
  }
  .block .block3 {
    margin-top: 92px;
  }
  .block .block4 {
    margin-top: 96px;
    margin-bottom: 100px;
  }
  .block .block2,
  .block .block4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .block .block1,
  .block .block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block .block1 p,
  .block .block2 p,
  .block .block3 p,
  .block .block4 p {
    width: 310px;
    max-width: 90%;
  }
  .block-right-box,
  .block-left-box {
    margin-left: 0;
  }
  .block-right-box h3,
  .block-left-box h3 {
    width: 300px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3px;
  }
  .block-right-box p,
  .block-left-box p {
    width: 310px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    letter-spacing: 0.4px;
    text-align: center;
  }
  .block-right-box-btn,
  .block-left-box-btn {
    display: block;
    margin: 35px auto 0 auto;
  }
}
.features {
  background: url("../img/platform/dots5.png") right top no-repeat;
  background-color: #EAF3FB;
  margin-top: 141px;
  padding-top: 64px;
  padding-bottom: 99px;
  position: relative;
}
.features h2 {
  color: #448E28;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-transform: uppercase;
}
.features h3 {
  color: #234D70;
  font-family: Rajdhani;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
}
@media (min-width: 992px) {
  .features .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .features .container {
    width: 1170px;
  }
}
.features .polygon {
  display: inline-block;
  position: relative;
  height: 397px;
  padding: 0;
}
@media (min-width: 1200px) {
  .features .polygon {
    margin-left: -15px;
    margin-bottom: -97px;
    margin-right: -33px;
  }
  .features .polygon:nth-child(1),
  .features .polygon:nth-child(2),
  .features .polygon:nth-child(3),
  .features .polygon:nth-child(7),
  .features .polygon:nth-child(8),
  .features .polygon:nth-child(9) {
    transform: translateX(10px);
  }
  .features .polygon:nth-child(4),
  .features .polygon:nth-child(5),
  .features .polygon:nth-child(6) {
    transform: translateX(183px);
  }
}
.features .polygon:hover .polygon-back {
  transform: rotateY(360deg);
}
.features .polygon:hover .polygon-front {
  transform: rotateY(180deg);
}
.features .polygons {
  padding-top: 39px;
  position: relative;
}
.features .polygons .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -150px;
  margin-left: -100px;
}
@media (min-width: 1200px) {
  .features .polygons .row {
    margin-left: -21px;
    display: block;
    margin-top: 3px;
  }
}
.features .polygons .row:nth-child(2) {
  padding-left: 174px;
  margin-top: -99px;
}
.features .polygons .row:nth-child(2) .polygon {
  margin-top: -99px;
}
.features .polygons .row:nth-child(3) {
  margin-top: -99px;
}
.features .polygons .row:nth-child(3) .polygon {
  margin-top: -99px;
}
.features .polygons .polygon-content {
  position: absolute;
  top: 126px;
  width: 324px;
  text-align: center;
}
.features .polygons .polygon-content h4 {
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  color: #234D70;
  font-family: Rajdhani;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14px;
}
.features .polygons .polygon-content-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  text-align: center;
  margin-top: 5px;
  margin-left: -30px;
}
@media (min-width: 1200px) {
  .features .polygons .polygon-content-back {
    margin-left: -19px;
  }
}
.features .polygons .polygon-content-back p {
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 25px;
}
.features .polygons .polygon-back {
  background: url("../img/platform/polygon-back.svg") no-repeat;
  background-size: contain;
  transform: rotateY(180deg);
}
.features .polygons .polygon-front {
  background: url(../img/platform/polygon.svg) -2px 1px no-repeat;
  background-size: contain;
}
.features .polygons .polygon-front,
.features .polygons .polygon-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media (min-width: 769px) {
  .features .polygons .polygon-front,
  .features .polygons .polygon-back {
    margin-left: 70px;
  }
}
@media (min-width: 1200px) {
  .features .polygons .polygon-front,
  .features .polygons .polygon-back {
    margin-left: -10px;
  }
}
.features .polygons .polygon:nth-child(1) img {
  margin-top: -35px;
  margin-left: 17px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(1) h4 {
    width: 160px;
  }
}
.features .polygons .polygon:nth-child(2) img {
  margin-top: -35px;
}
.features .polygons .polygon:nth-child(3) img {
  margin-top: -45px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(3) h4 {
    width: 200px;
    transform: translateX(-1px);
  }
}
.features .polygons .polygon:nth-child(4) img {
  margin-top: -26px;
  margin-left: 2px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(4) h4 {
    width: 220px;
  }
  .features .polygons .polygon:nth-child(4) .polygon-front {
    background: url(../img/platform/polygon.svg) -3px 0px no-repeat;
  }
  .features .polygons .polygon:nth-child(4) .polygon-front .polygon-content {
    transform: translate(-2px, -2px);
  }
}
.features .polygons .polygon:nth-child(5) img {
  margin-top: -27px;
  margin-left: 5px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(5) .polygon-front {
    background: url(../img/platform/polygon.svg) 0 0 no-repeat;
  }
  .features .polygons .polygon:nth-child(5) .polygon-front .polygon-content {
    transform: translate(-1px, -2px);
  }
}
.features .polygons .polygon:nth-child(6) img {
  margin-top: -30px;
  margin-left: 1px;
  margin-bottom: 2px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(6) .polygon-front {
    background: url(../img/platform/polygon.svg) -3px 0px no-repeat;
  }
  .features .polygons .polygon:nth-child(6) .polygon-front .polygon-content {
    transform: translate(-2px, 1px);
  }
}
.features .polygons .polygon:nth-child(7) img {
  margin-top: -30px;
  margin-left: -2px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(7) .polygon-front {
    background: url(../img/platform/polygon.svg) -2px -2px no-repeat;
  }
  .features .polygons .polygon:nth-child(7) .polygon-front .polygon-content {
    transform: translate(0px, -4px);
  }
}
.features .polygons .polygon:nth-child(8) img {
  margin-top: -31px;
  margin-left: -1px;
  margin-bottom: -2px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(8) .polygon-front {
    background: url(../img/platform/polygon.svg) -2px -2px no-repeat;
  }
  .features .polygons .polygon:nth-child(8) .polygon-front .polygon-content {
    transform: translate(0px, -6px);
  }
}
.features .polygons .polygon:nth-child(9) img {
  margin-top: -30px;
  margin-left: 1px;
}
@media (min-width: 769px) {
  .features .polygons .polygon:nth-child(9) .polygon-front {
    background: url(../img/platform/polygon.svg) -2px -2px no-repeat;
  }
  .features .polygons .polygon:nth-child(9) .polygon-front .polygon-content {
    transform: translate(-1px, -4px);
  }
}
@media (min-width: 1200px) {
  .features .trial-button {
    padding-top: 138px;
  }
}
.features .trial-button button {
  height: 42px;
  width: 228px;
  border-radius: 2px;
  background-color: #305791;
  color: #FFF;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-family: Rajdhani;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-transform: uppercase;
  padding-top: 5px;
  border: none;
}
@media (max-width: 1250px) {
  .features .polygons {
    transform: scale(0.8);
  }
}
@media (max-width: 768px) {
  .features {
    padding-top: 77px;
    padding-left: 15px;
  }
  .features .container {
    max-width: 375px;
  }
  .features h2 {
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .features .polygons {
    transform: none;
    padding-top: 23px;
  }
  .features .polygons > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .features .polygons .polygon-front,
  .features .polygons .polygon-back,
  .features .polygons .polygon-content-back,
  .features .polygons .polygon-content {
    position: initial;
    height: unset;
    padding: 0;
    margin: 0;
    transition: none;
    transform: none;
    background: none;
  }
  .features .polygons .polygon-content,
  .features .polygons .polygon-content-back {
    position: initial;
    width: 100%;
    left: 0;
    display: block;
    transform: none;
  }
  .features .polygons .polygon-content h4,
  .features .polygons .polygon-content-back h4 {
    padding-top: 55px;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.4px;
    width: 100%;
    max-width: 90%;
  }
  .features .polygons .polygon-content p,
  .features .polygons .polygon-content-back p {
    font-size: 15px;
    margin-top: 8px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .features .polygons .polygon-front {
    background: url(../img/platform/polygon.svg) center 0 no-repeat;
    background-size: 60%;
  }
  .features .polygons .polygon:nth-child(n) img {
    margin: 16% auto 0 auto;
    display: block;
    width: 29%;
  }
  .features .polygons .polygon:nth-child(1) img {
    padding-left: 5%;
    width: 38%;
  }
  .features .polygons .polygon:nth-child(3) img {
    width: 22%;
  }
  .features .polygons .polygon:nth-child(4) img,
  .features .polygons .polygon:nth-child(5) img {
    margin-top: 19%;
  }
  .features .polygons .polygon:nth-child(6) img {
    margin-top: 17%;
  }
  .features .polygons .polygon:nth-child(7) img {
    margin-top: 15%;
    width: 27%;
  }
  .features .polygons .polygon:nth-child(8) img {
    margin-top: 18%;
  }
  .features .polygons .polygon:nth-child(9) img {
    margin-top: 16%;
    width: 20%;
  }
  .features .polygon {
    display: block;
    height: unset;
    transform: none;
  }
  .features .polygon:hover .polygon-back {
    transform: none;
  }
  .features .polygon:hover .polygon-front {
    transform: none;
  }
  .features .polygon .polygon-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.footer {
  position: relative;
  height: 427px;
}
.footer-content {
  padding-top: 58px;
  height: 356px;
  background-color: #142c48;
}
.footer .home {
  margin-left: 9px;
}
.footer .platform {
  margin-left: 7px;
}
.footer .resources {
  margin-left: 0px;
}
.footer .solutions {
  margin-left: -7px;
}
.footer .company {
  margin-left: -12px;
}
.footer h5 > a {
  margin-bottom: 14px;
  color: #85A6B9;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.07px;
}
.footer li > a {
  display: inline-block;
  margin-top: 2px;
  padding-bottom: 22px;
  color: #DCE5EC;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 17px;
}
.footer ul {
  margin-top: -10px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 23px;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  font-weight: 400;
  color: #DCE5EC;
  line-height: 17px;
}
.footer-floor {
  padding-top: 27px;
  height: 71px;
  background-color: #0e2133;
}
.footer-floor a,
.footer-floor p {
  color: #DCE5EC;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.07px;
  line-height: 18px;
}
.footer-floor .terms {
  margin-left: 3px;
}
.footer-floor p {
  margin-left: -5px;
}
.footer .logo {
  position: absolute;
  top: 48px;
  left: 40px;
}
@media (max-width: 1130px) {
  .footer {
    height: 881px;
    background-color: #142c48;
  }
  .footer .logo {
    position: unset;
  }
  .footer img {
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer-content {
    padding-top: 42px;
    padding-left: 10px;
    height: unset;
    margin-left: 15px;
  }
  .footer-content .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .home {
    margin-left: 7px;
    margin-bottom: 40px;
  }
  .footer .col-md-1,
  .footer .col-md-2,
  .footer .col-md-3 {
    width: 50%;
  }
  .footer .col-md-offset-1,
  .footer .col-md-offset-2 {
    margin-left: 0;
  }
  .footer .platform {
    margin-bottom: 5px;
  }
  .footer .platform li > a {
    line-height: 20px;
  }
  .footer .resources {
    margin-left: 8px;
  }
  .footer .solutions {
    margin-left: 12px;
  }
  .footer .company {
    margin-left: 13px;
    margin-top: -14px;
  }
  .footer-floor {
    height: 139px;
    padding-top: 31px;
  }
  .footer-floor .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-floor .row > [class*=col-] {
    margin-left: -1px;
    margin-right: -1px;
    padding-right: 0;
  }
  .footer-floor a,
  .footer-floor p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-floor p {
    margin-left: 0;
    padding-top: 20px;
  }
  .footer .pixart {
    padding-top: 20px;
  }
}
.footer .pixart a {
  color: #dce5ec;
  font-weight: 600;
}
@media (max-width: 415px) {
  .footer-content .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 1%, rgba(241, 245, 248, 0.96) 50%, #f0f4f7 100%);
}
.mobile-menu .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
.mobile-menu#menu-root a,
.mobile-menu#menu-root span {
  font-size: 22px;
}
.mobile-menu#menu-root ul {
  padding: 107px 0;
}
.mobile-menu#menu-root li {
  margin-bottom: 28px;
}
.mobile-menu#menu-resources,
.mobile-menu#menu-platform,
.mobile-menu#menu-solutions,
.mobile-menu#menu-company,
.mobile-menu#menu-root {
  width: 100%;
  min-height: 100%;
  left: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.mobile-menu#menu-resources.opened,
.mobile-menu#menu-platform.opened,
.mobile-menu#menu-solutions.opened,
.mobile-menu#menu-company.opened,
.mobile-menu#menu-root.opened {
  transform: unset;
}
.mobile-menu .menu-list a,
.mobile-menu .menu-list span {
  font-family: Rajdhani;
  font-size: 18px;
  color: #234d70;
  letter-spacing: -0.11px;
  font-weight: 600;
}
.mobile-menu ul {
  padding: 96px 0 200px 0;
  margin: 0;
}
.mobile-menu li {
  position: relative;
  text-align: center;
  margin-bottom: 29px;
}
@media (max-height: 568px) {
  .mobile-menu li {
    margin-bottom: 15px;
  }
}
.mobile-menu .next {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
}
.mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}
.mobile-menu .back {
  position: absolute;
  top: 18px;
  left: 13px;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.mobile-menu .trial-button {
  position: absolute;
  bottom: 87px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 246px;
  padding-top: 5px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu .menu-title {
  margin-top: -33px;
  font-family: Rajdhani;
  font-size: 22px;
  color: #448e28;
  letter-spacing: -0.11px;
  text-align: center;
  line-height: 27px;
  font-weight: 600;
}
@media (max-width: 776px) {
  .mobile-menu {
    display: block;
  }
}
.menu-block {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}
.menu-block.opened {
  z-index: 1000;
}
.anchor {
  position: absolute;
  top: -100px;
}
