body {
  font-family: 'Rajdhani', sans-serif;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
}
.background {
  background: url("../img/platform-background.png") top center no-repeat;
}
.background .header {
  height: 353px;
  position: relative;
  /* background-color: #F0F4F7; */
}
.background .header .container {
  margin-left: 165px;
  margin-right: 165px;
  padding-left: 0;
  padding-right: 0;
}
.background .header .row {
  margin-left: -17px;
  margin-right: -17px;
}
.background .header-content {
  padding-top: 197px;
}
.background .header-content p {
  margin-top: -13px;
  margin-left: 15px;
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -1, 5px;
  text-align: center;
  line-height: 25px;
}
.background .header .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
.background .header .menu {
  float: right;
}
.background .header .menu ul {
  float: left;
  padding-right: 27px;
  padding-top: 24px;
}
.background .header .menu li {
  display: inline;
  padding-left: 27px;
}
.background .header .menu a {
  color: #234D70;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
  position: relative;
}
.background .header .menu a:hover,
.background .header .menu a:focus,
.background .header .menu a:visited {
  text-decoration: none;
}
.background .header .menu a:hover:before {
  content: url("../img/left-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.background .header .menu a:hover:after {
  content: url("../img/right-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.background .header .menu li:nth-child(2) a:hover:after {
  left: 5px;
}
.background .header .menu li:nth-child(3) a:hover:after {
  left: 10px;
}
.background .header .menu li:nth-child(4) a:hover:after {
  left: 15px;
}
.background .header .menu li:nth-child(5) a:hover:after {
  left: 12px;
}
.background .header .menu button {
  height: 36px;
  width: 130px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 57px;
}
.background .header-content h2 {
  margin-top: -68px;
  margin-left: 25px;
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
/* .footer {
  position: relative;
  height: 427px;
  &-content {
    padding-top: 74px;
    height: 356px;
    background-color: #142c48;
  }
  .home {
    margin-left: 9px;
  }
  .platform {
    margin-left: 7px; 
  }
  .resources {
    margin-left: 0px;
  }
  .solutions {
    margin-left: -7px;
  }
  .company {
    margin-left: -12px;
  }
  h5  {
    margin-bottom: 14px;
    color: #85A6B9;
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: -0.07px;
  }
  a {
      display: inline-block;
      margin-top: 2px;
      padding-bottom: 22px;
      color: #DCE5EC; 
      font-family: Lato;  
      font-size: 14px;  
      letter-spacing: -0.07px;  
      line-height: 17px;
  }
    ul {
      margin-top: -10px;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 23px;
      font-family: Lato;
      font-size: 14px;
      letter-spacing: -0.07px;
      font-weight: 400;
      color: #DCE5EC;
      line-height: 17px;
    }
  &-floor {
    padding-top: 27px;
    height: 71px;
    background-color: #0e2133;
    a, p {
      color: #DCE5EC;
      font-family: Rajdhani;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.07px;
      line-height: 18px;
    }
    .terms {
      margin-left: 3px;
    }
    p {
      margin-left: -5px;
    }
  }

  .logo {
    position: absolute;
    top: 67px;
    left: 40px;
  }
} */
