body {
  font-family: 'Rajdhani', sans-serif;
  background: url("../img/solutions/dots4.png") right 1796px no-repeat, url("../img/solutions/dots3.png") left 917px no-repeat, url("../img/solutions/dots2.png") right 250px no-repeat, url("../img/solutions/dots1.png") left 352px no-repeat;
}
@media (max-width: 414px) {
  body {
    background: url("../img/terms/mobile-dots2.png") -33px 2130px no-repeat, url("../img/terms/mobile-dots1.png") -450px 1032px no-repeat;
  }
}
.body-wrapper {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.body-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.body-wrapper.no-scroll {
  overflow: hidden;
}
.scrollable-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.background-block {
  background: url("../img/background.png") top center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 414px) {
  .background-block {
    background: url("../img/terms/mobile-background.png") top center no-repeat;
    background-size: contain;
  }
}
ul {
  list-style-type: none;
}
h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
  margin-left: auto;
  margin-right: auto;
}
p,
h4 {
  max-width: 80%;
}
button:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.header {
  height: 22vw;
  min-height: 353px;
  position: relative;
}
.header-content {
  padding-top: 112px;
}
.header-content h1 {
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.header .container {
  margin-left: 165px;
  margin-right: 165px;
  padding-left: 0;
  padding-right: 0;
}
.header .row {
  margin-left: -17px;
  margin-right: -17px;
}
.header .logo {
  margin-top: 0px;
  position: absolute;
  top: 21px;
  left: 30px;
}
.header .menu {
  float: right;
  position: relative;
  z-index: 10;
}
.header .menu ul {
  float: left;
  padding-right: 27px;
  padding-top: 24px;
}
.header .menu li {
  display: inline;
  padding-left: 27px;
}
.header .menu li.active > a:before {
  content: url("../img/left-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li.active > a:after {
  content: url("../img/right-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li:nth-child(2).active a:after {
  left: 5px;
}
.header .menu li:nth-child(3).active a:after {
  left: 10px;
}
.header .menu li:nth-child(4).active a:after {
  left: 15px;
}
.header .menu li:nth-child(5).active a:after {
  left: 12px;
}
.header .menu li:hover > a {
  color: #448E28;
}
.header .menu li:hover .modals {
  display: block;
}
.header .menu a,
.header .menu p {
  color: #234D70;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
  position: relative;
  display: inline;
}
.header .menu a:hover,
.header .menu p:hover,
.header .menu a:focus,
.header .menu p:focus,
.header .menu a:visited,
.header .menu p:visited {
  text-decoration: none;
}
.header .menu button {
  height: 36px;
  width: 130px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #FFF;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 57px;
  display: block;
}
.header .menu .modals {
  position: absolute;
  top: 0;
  display: none;
}
.header .menu .modals li {
  display: block;
  padding-left: 24px;
  padding-bottom: 16px;
}
.header .menu .modals li a {
  color: #234D70;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
}
.header .menu .modals li:hover a {
  color: #448E28;
}
.header .menu .modals ul {
  padding: 25px 0;
  background-color: white;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.15);
}
.header .menu .modals.resources {
  left: 288px;
}
.header .menu .modals.resources ul {
  height: 145px;
  width: 150px;
  margin-top: 66px;
}
.header .menu .modals.platform {
  left: 134px;
}
.header .menu .modals.platform ul {
  height: 254px;
  width: 250px;
  margin-top: 66px;
}
.header .menu .modals.solutions {
  left: 220px;
}
.header .menu .modals.solutions ul {
  height: 320px;
  width: 180px;
  margin-top: 66px;
}
.header .menu .modals.company {
  left: 410px;
}
.header .menu .modals.company ul {
  height: 175px;
  width: 130px;
  margin-top: 66px;
}
.header .menu-open {
  display: none;
  position: absolute;
  top: 19px;
  right: 4%;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.header .sticky-menu {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 999;
  transition: background 1s;
}
.header .sticky-menu.fixed {
  background: white;
}
@media (max-width: 776px) {
  .header .sticky-menu {
    height: 60px;
    transition: background 0.5s;
  }
}
@media (max-width: 776px) {
  .header {
    height: 334px;
  }
  .header .container {
    margin: 0;
  }
  .header-content h1 {
    width: 375px;
    max-width: 80%;
    font-size: 27px;
    letter-spacing: 0.4px;
    line-height: 36px;
  }
  .header .logo {
    width: 100%;
    top: 18px;
    left: 19px;
  }
  .header .menu {
    display: none;
  }
  .header .menu-open,
  .header .mobile-menu {
    display: block;
  }
}
@media (max-width: 414px) {
  .header {
    height: 234px;
    min-height: unset;
  }
}
.text {
  padding-top: 14px;
}
.text p {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9px;
  padding-top: 10px;
  color: #161616;
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 414px) {
  .text p {
    line-height: 26px;
    margin-right: auto;
    margin-left: auto;
    width: 310px;
  }
}
.mobile-only {
  display: none;
}
@media (max-width: 414px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: unset;
  }
}
.product {
  padding-top: 95px;
  padding-bottom: 230px;
  position: relative;
}
.product h3 {
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.product-box {
  padding-top: 113px;
  text-align: center;
}
.product-box:nth-child(2n + 1) {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .product-box {
    text-align: unset;
  }
  .product-box:nth-child(2n + 1) {
    display: block;
  }
}
.product-box h4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #305791;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
}
.product-box p {
  padding-top: 10px;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 15px;
  line-height: 26px;
}
@media (min-width: 992px) {
  .product-box p {
    margin-left: 0;
    margin-right: 0;
  }
}
.product-box img,
.product-box .first,
.product-box .second,
.product-box .third,
.product-box .fourth,
.product-box .fifth {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .product .product-box h4 {
    display: inline;
    margin-left: unset;
    margin-right: unset;
  }
  .product .product-box img {
    margin-left: 93px;
  }
  .product .product-box .first {
    margin-top: -23px;
  }
  .product .product-box .second {
    margin-left: 64px;
    margin-top: 16px;
  }
  .product .product-box .third {
    margin-left: 12px;
  }
  .product .product-box .fourth {
    margin-left: -7px;
  }
  .product .product-box .fifth {
    margin-left: 4px;
    margin-top: -10px;
  }
  .product .product-box .asset {
    padding-top: 27px;
    padding-left: 23px;
  }
  .product .product-box .supply {
    margin-top: 11px;
  }
  .product .product-box .mergers {
    padding-top: 16px;
    padding-left: 24px;
  }
  .product .product-box .security {
    padding-top: 2px;
    padding-left: 14px;
  }
}
.product .mobile-more {
  display: none;
}
@media (max-width: 414px) {
  .product {
    padding-top: 63px;
    padding-bottom: 83px;
    text-align: center;
  }
  .product h3 {
    font-size: 28px;
  }
  .product-box {
    padding-top: 93px;
    margin-bottom: 12px;
  }
  .product-box:nth-child(2n + 1) {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-box img {
    margin: 0 auto 32px auto;
    display: block;
  }
  .product-box p,
  .product-box .mobile-only {
    padding-top: 3px;
    margin: 0 auto;
    display: block;
    width: 290px;
    letter-spacing: 0.4px;
  }
  .product-box .mobile-more {
    display: block;
    margin: 35px auto 0 auto;
    height: 42px;
    width: 154px;
    border-radius: 2px;
    background-color: #EAF5FF;
    color: #5E91F0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    border: none;
  }
  .product-box h4 {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .product .asset,
  .product .second,
  .product .third,
  .product .fourth,
  .product .fifth {
    margin: 0 auto;
    padding: 0;
  }
  .product .second,
  .product .third,
  .product .fourth,
  .product .fifth {
    margin-bottom: 22px;
  }
  .product .fourth {
    margin-bottom: -2px;
  }
}
.industries {
  background-color: #EAF3FB;
  padding-top: 180px;
  padding-bottom: 175px;
  position: relative;
}
.industries h3 {
  padding-bottom: 65px;
  color: #448E28;
  font-family: Rajdhani;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .industries .box {
    max-width: 1150px;
    padding-left: 15px;
  }
}
.industries-box {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 403px;
  max-width: 353px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 30px 0 rgba(210, 210, 210, 0.5);
}
.industries-box .enterprise {
  display: block;
  margin: 0 auto 25px auto;
  padding-top: 43px;
}
.industries-box .technology {
  display: block;
  margin: 0 auto 25px auto;
  padding-top: 43px;
}
.industries-box .financial {
  display: block;
  margin: 0 auto 29px auto;
  padding-top: 51px;
}
.industries-box .insurance {
  display: block;
  margin: 0 auto 25px auto;
  padding-top: 43px;
}
.industries-box .healthcare {
  display: block;
  margin: 0 auto 25px auto;
  padding-top: 51px;
}
.industries-box .retail {
  display: block;
  margin: 0 auto 25px auto;
  padding-top: 49px;
}
.industries-box h4 {
  display: block;
  margin: 0 auto;
  color: #305791;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.industries-box p {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  padding-bottom: 10px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: -0.07px;
  line-height: 26px;
  text-align: center;
}
.industries-box a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #5E91F0;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 414px) {
  .industries {
    padding-top: 76px;
    padding-bottom: 75px;
  }
  .industries h3 {
    font-size: 32px;
    padding-bottom: 41px;
  }
  .industries .box {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .industries .box .col-md-4 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .industries .box .enterprise,
  .industries .box .technology,
  .industries .box .financial,
  .industries .box .insurance,
  .industries .box .healthcare,
  .industries .box .retail {
    display: block;
    margin: 0 auto 12px auto;
    padding-top: 31px;
    transform: scale(0.8);
  }
  .industries .box .financial {
    margin-bottom: 22px;
  }
  .industries .box .healthcare {
    margin-bottom: 20px;
  }
  .industries .box .retail {
    margin-bottom: 18px;
  }
  .industries .industries-box {
    height: 375px;
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }
  .industries .industries-box a {
    display: block;
    margin: 14px auto;
  }
  .industries .mobile-only {
    display: block;
  }
}
.footer {
  position: relative;
  height: 427px;
}
.footer-content {
  padding-top: 58px;
  height: 356px;
  background-color: #142c48;
}
.footer .home {
  margin-left: 9px;
}
.footer .platform {
  margin-left: 7px;
}
.footer .resources {
  margin-left: 0px;
}
.footer .solutions {
  margin-left: -7px;
}
.footer .company {
  margin-left: -12px;
}
.footer h5 > a,
.footer h5 {
  margin-bottom: 14px;
  color: #85A6B9;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.07px;
}
.footer li > a {
  display: inline-block;
  margin-top: 2px;
  padding-bottom: 22px;
  color: #DCE5EC;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 17px;
}
.footer ul {
  margin-top: -10px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 23px;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  font-weight: 400;
  color: #DCE5EC;
  line-height: 17px;
}
.footer-floor {
  padding-top: 27px;
  height: 71px;
  background-color: #0e2133;
}
.footer-floor a,
.footer-floor p {
  color: #DCE5EC;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.07px;
  line-height: 18px;
}
.footer-floor .terms {
  margin-left: 3px;
}
.footer-floor p {
  margin-left: -5px;
}
.footer .logo {
  position: absolute;
  top: 48px;
  left: 40px;
}
@media (max-width: 1130px) {
  .footer {
    height: 881px;
    background-color: #142c48;
  }
  .footer .logo {
    position: unset;
  }
  .footer img {
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer-content {
    padding-top: 42px;
    padding-left: 10px;
    height: unset;
    margin-left: 15px;
  }
  .footer-content .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .home {
    margin-left: 7px;
    margin-bottom: 40px;
  }
  .footer .col-md-1,
  .footer .col-md-2,
  .footer .col-md-3 {
    width: 50%;
  }
  .footer .col-md-offset-1,
  .footer .col-md-offset-2 {
    margin-left: 0;
  }
  .footer .platform {
    margin-bottom: 5px;
  }
  .footer .platform li > a {
    line-height: 20px;
  }
  .footer .resources {
    margin-left: 8px;
  }
  .footer .solutions {
    margin-left: 12px;
  }
  .footer .company {
    margin-left: 13px;
    margin-top: -14px;
  }
  .footer-floor {
    height: 139px;
    padding-top: 31px;
  }
  .footer-floor .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-floor .row > [class*=col-] {
    margin-left: -1px;
    margin-right: -1px;
    padding-right: 0;
  }
  .footer-floor a,
  .footer-floor p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-floor p {
    margin-left: 0;
    padding-top: 20px;
  }
  .footer .pixart {
    padding-top: 20px;
  }
}
.footer .pixart a {
  color: #dce5ec;
  font-weight: 600;
}
@media (max-width: 414px) {
  .footer-content .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 1%, rgba(241, 245, 248, 0.96) 50%, #f0f4f7 100%);
}
.mobile-menu .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
.mobile-menu#menu-root a,
.mobile-menu#menu-root span {
  font-size: 22px;
}
.mobile-menu#menu-root ul {
  padding: 107px 0;
}
.mobile-menu#menu-root li {
  margin-bottom: 28px;
}
.mobile-menu#menu-resources,
.mobile-menu#menu-platform,
.mobile-menu#menu-solutions,
.mobile-menu#menu-company,
.mobile-menu#menu-root {
  width: 100%;
  min-height: 100%;
  left: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.mobile-menu#menu-resources.opened,
.mobile-menu#menu-platform.opened,
.mobile-menu#menu-solutions.opened,
.mobile-menu#menu-company.opened,
.mobile-menu#menu-root.opened {
  transform: unset;
}
.mobile-menu .menu-list a,
.mobile-menu .menu-list span {
  font-family: Rajdhani;
  font-size: 18px;
  color: #234d70;
  letter-spacing: -0.11px;
  font-weight: 600;
}
.mobile-menu ul {
  padding: 47px 0 0 0;
  margin: 0;
}
.mobile-menu li {
  position: relative;
  text-align: center;
  margin-bottom: 29px;
}
@media (max-height: 568px) {
  .mobile-menu li {
    margin-bottom: 15px;
  }
}
.mobile-menu .next {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
}
.mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}
.mobile-menu .back {
  position: absolute;
  top: 18px;
  left: 13px;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.mobile-menu .trial-button {
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 246px;
  padding-top: 5px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu .menu-title {
  margin-top: 17px;
  font-family: Rajdhani;
  font-size: 22px;
  color: #448e28;
  letter-spacing: -0.11px;
  text-align: center;
  line-height: 27px;
  font-weight: 600;
}
@media (max-width: 776px) {
  .mobile-menu {
    display: block;
  }
}
.menu-block {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}
.menu-block.opened {
  z-index: 1000;
}
.anchor {
  position: absolute;
  top: 0px;
}
