body {
  font-family: 'Rajdhani', sans-serif;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/home/dots.svg") center 480px no-repeat, url("../img/home/background-top.png") top center no-repeat;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  body {
    width: 375px;
    background: url("../img/home/mobile-dots2.png") center 2808px no-repeat, url("../img/home/mobile-dots1.png") center 1107px no-repeat, url("../img/home/mobile-background.png") top center no-repeat;
  }
}
ul {
  list-style-type: none;
}
h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  h1 {
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.3px;
  }
}
button:active {
  filter: brightness(85%);
}
.header {
  height: 797px;
  position: relative;
}
.header .container {
  margin-left: 165px;
  margin-right: 165px;
  padding-left: 0;
  padding-right: 0;
  height: 1000px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header .container.header-content {
    padding-top: 82px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.header .row {
  margin-left: -17px;
  margin-right: -17px;
}
.header-content {
  padding-top: 197px;
}
.header-content p {
  color: #264f72;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.01px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header-content p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.1px;
  }
}
.header-description {
  padding-top: 20px;
  padding-left: 4px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header-description {
    padding-top: 0;
  }
}
.header-button {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.12px;
  line-height: 30px;
  text-transform: uppercase;
  height: 56px;
  width: 240px;
  margin-top: 33px;
  background-color: #305791;
  border-radius: 4px;
  border: none;
  box-shadow: 0 16px 24px 0 rgba(31, 55, 75, 0.25);
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header-button {
    margin-top: 256px;
    padding-top: 3px;
    width: 248px;
    height: 48px;
    border-radius: 2px;
    font-size: 20px;
    letter-spacing: 0;
  }
}
.header .logo {
  position: absolute;
  top: 21px;
  left: 30px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header .logo {
    width: 100%;
    top: 18px;
    left: 19px;
  }
}
.header .menu {
  float: right;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header .menu {
    display: none;
  }
}
.header .menu ul {
  float: left;
  padding-right: 27px;
  padding-top: 24px;
}
.header .menu li {
  display: inline;
  padding-left: 27px;
}
.header .menu li.active a:before {
  content: url("../img/left-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li.active a:after {
  content: url("../img/right-bkt.svg");
  position: absolute;
  left: -15px;
  top: 1px;
}
.header .menu li:nth-child(2).active a:after {
  left: 5px;
}
.header .menu li:nth-child(3).active a:after {
  left: 10px;
}
.header .menu li:nth-child(4).active a:after {
  left: 15px;
}
.header .menu li:nth-child(5).active a:after {
  left: 12px;
}
.header .menu li:hover:not(.active) > a {
  color: #448e28;
}
.header .menu li:hover:not(.active) .modals {
  display: block;
}
.header .menu a {
  color: #234d70;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
  position: relative;
}
.header .menu a:hover,
.header .menu a:focus,
.header .menu a:visited {
  text-decoration: none;
}
.header .menu button {
  height: 36px;
  width: 130px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-left: 5px;
  margin-top: 16px;
  margin-right: 57px;
}
.header .menu .modals {
  position: absolute;
  top: 0;
  display: none;
}
.header .menu .modals li {
  display: block;
  padding-left: 24px;
  padding-bottom: 16px;
}
.header .menu .modals li a {
  color: #234d70;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 21px;
}
.header .menu .modals li:hover a {
  color: #448e28;
}
.header .menu .modals ul {
  padding: 25px 0;
  background-color: white;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.15);
}
.header .menu .modals.resources {
  left: 288px;
}
.header .menu .modals.resources ul {
  height: 145px;
  width: 150px;
  margin-top: 53px;
}
.header .menu .modals.platform {
  left: 134px;
}
.header .menu .modals.platform ul {
  height: 254px;
  width: 250px;
  margin-top: 66px;
}
.header .menu-open {
  display: none;
  position: absolute;
  top: 19px;
  right: 14px;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.header .mobile-menu {
  display: none;
  position: fixed;
  height: 100%;
  width: 375px;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 1%, rgba(241, 245, 248, 0.96) 50%, #f0f4f7 100%);
}
.header .mobile-menu#menu-root {
  max-height: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 1s;
}
.header .mobile-menu#menu-root a,
.header .mobile-menu#menu-root span {
  font-size: 22px;
}
.header .mobile-menu#menu-root ul {
  padding: 107px 0;
}
.header .mobile-menu#menu-root li {
  margin-bottom: 28px;
}
.header .mobile-menu#menu-root.opened {
  max-height: 100%;
}
.header .mobile-menu#menu-resources,
.header .mobile-menu#menu-platform {
  max-height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.header .mobile-menu#menu-resources.opened,
.header .mobile-menu#menu-platform.opened {
  transform: unset;
}
.header .mobile-menu .menu-list a,
.header .mobile-menu .menu-list span {
  font-family: Rajdhani;
  font-size: 18px;
  color: #234d70;
  letter-spacing: -0.11px;
  font-weight: 600;
}
.header .mobile-menu ul {
  padding: 96px 0;
  margin: 0;
}
.header .mobile-menu li {
  position: relative;
  text-align: center;
  margin-bottom: 29px;
}
.header .mobile-menu .next {
  position: absolute;
  top: 50%;
  right: 108px;
  transform: translateY(-50%);
}
.header .mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}
.header .mobile-menu .back {
  position: absolute;
  top: 18px;
  left: 13px;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
}
.header .mobile-menu .trial-button {
  position: absolute;
  bottom: 87px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 246px;
  padding-top: 5px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.header .mobile-menu .menu-title {
  margin-top: -33px;
  font-family: Rajdhani;
  font-size: 22px;
  color: #448e28;
  letter-spacing: -0.11px;
  text-align: center;
  line-height: 27px;
  font-weight: 600;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .header {
    width: 100%;
    height: 712px;
  }
  .header .menu-open,
  .header .mobile-menu {
    display: block;
  }
}
section.second {
  padding-top: 140px;
  margin-left: -2px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.second {
    padding-top: 66px;
    margin: 0;
  }
}
section.second h2 {
  color: #448e28;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-transform: uppercase;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.second h2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1.1px;
  }
}
section.second p {
  padding-top: 12px;
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: -0.08px;
  line-height: 29px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.second p {
    padding-top: 6px;
    line-height: 26px;
    width: 300px;
    letter-spacing: -0.5px;
  }
}
section.list {
  position: relative;
}
section.list .lines {
  position: absolute;
  left: 354px;
  top: 158px;
}
section.list .mobile-lines {
  display: none;
}
section.list h3 {
  color: #305791;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
}
section.list p {
  width: 390px;
  padding-top: 2px;
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 26px;
}
section.list button {
  height: 42px;
  width: 154px;
  border-radius: 2px;
  background-color: #eaf5ff;
  color: #5e91f0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 2px;
  border: none;
}
section.list .row:nth-child(1) {
  padding-top: 161px;
}
section.list .row:nth-child(1) img {
  padding-top: 22px;
  padding-left: 111px;
}
section.list .row:nth-child(1) .description {
  padding-left: 48px;
}
section.list .row:nth-child(2) {
  padding-top: 236px;
}
section.list .row:nth-child(2) .description {
  padding-left: 111px;
}
section.list .row:nth-child(2) button {
  padding-top: 4px;
}
section.list .row:nth-child(2) img {
  margin-top: -15px;
  padding-left: 35px;
}
section.list .row:nth-child(3) {
  padding-top: 211px;
}
section.list .row:nth-child(3) img {
  padding-left: 114px;
  padding-top: 14px;
}
section.list .row:nth-child(3) .description {
  padding-left: 48px;
  padding-top: 15px;
}
section.list .row:nth-child(3) button {
  padding-top: 4px;
}
section.list .row:nth-child(4) {
  padding-top: 233px;
}
section.list .row:nth-child(4) .description {
  padding-left: 111px;
}
section.list .row:nth-child(4) button {
  padding-top: 4px;
}
section.list .row:nth-child(4) img {
  padding-top: 5px;
  margin-left: -31px;
}
section.list .row:nth-child(4) p {
  padding-top: 9px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.list {
    margin-bottom: 100px;
    text-align: center;
  }
  section.list p {
    width: unset;
  }
  section.list .lines {
    display: none;
  }
  section.list .mobile-lines {
    display: block;
    position: absolute;
    top: 285px;
    left: 151px;
  }
  section.list .row:nth-child(n) img,
  section.list .row:nth-child(n) p {
    padding: 0;
  }
  section.list .row:nth-child(n) .description {
    padding: 0;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
  }
  section.list .row:nth-child(2n) {
    display: flex;
    flex-direction: column-reverse;
  }
  section.list .row:nth-child(1) {
    padding-top: 96px;
  }
  section.list .row:nth-child(1) .description {
    margin-top: 60px;
  }
  section.list .row:nth-child(2) {
    padding-top: 122px;
  }
  section.list .row:nth-child(2) .description {
    margin-top: 57px;
  }
  section.list .row:nth-child(3) {
    padding-top: 103px;
  }
  section.list .row:nth-child(3) .description {
    margin-top: 57px;
  }
  section.list .row:nth-child(4) {
    padding-top: 108px;
  }
  section.list .row:nth-child(4) .description {
    margin-top: 57px;
  }
}
section.world {
  background: url("../img/home/world-background.png") no-repeat;
  height: 874px;
  margin-top: 160px;
}
section.world h2 {
  color: #448e28;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-transform: uppercase;
}
section.world p {
  padding-top: 14px;
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: -0.08px;
  line-height: 28px;
}
section.world .world-text {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}
section.world h3 {
  color: #448e28;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.1px;
  line-height: 30px;
  padding-top: 9px;
}
section.world .row {
  padding-top: 106px;
  margin-left: -16px;
}
section.world .col-sm-3 {
  width: 278px;
}
section.world .col-sm-3:nth-child(1) {
  margin-top: -4px;
}
section.world .polygon-row {
  padding-top: 5px;
  padding-left: 149px;
}
section.world .polygon {
  position: relative;
}
section.world .polygon-content {
  position: absolute;
  top: 126px;
  width: 100%;
}
section.world .polygon-content h4,
section.world .polygon-content p,
section.world .polygon-content .small {
  color: #234d70;
  font-family: Rajdhani;
  font-weight: bold;
  text-align: center;
}
section.world .polygon-content h4 {
  padding-left: 32px;
  font-size: 80px;
  letter-spacing: -0.4px;
  line-height: 48px;
}
section.world .polygon-content p {
  padding-left: 32px;
  padding-top: 6px;
  font-size: 18px;
  letter-spacing: -0.09px;
  line-height: 23px;
  text-transform: uppercase;
}
section.world .polygon-content .small {
  font-size: 38px;
}
section.world .polygon:nth-child(1) .polygon-content {
  top: 130px;
}
section.world .polygon:nth-child(4) p {
  padding-top: 13px;
}
section.world .polygon:nth-child(4) .pre-header {
  position: absolute;
  width: 100%;
  top: -48px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.world {
    margin-top: 0;
    height: 1230px;
    background: url("../img/home/mobile-world-background.png") no-repeat;
  }
  section.world .row {
    padding-top: 84px;
  }
  section.world h2 {
    font-size: 32px;
    line-height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  section.world p.world-text {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
  }
  section.world h3 {
    padding-top: 0;
    margin-top: 17px;
    line-height: 27px;
    letter-spacing: -1px;
  }
  section.world .polygon-row {
    margin: 0;
    padding: 0;
  }
  section.world .col-sm-3:nth-child(1) {
    margin-top: -43px;
  }
  section.world .polygon {
    margin: -195px 0 0 -5px;
    padding: 0;
    transform: scale(0.63);
  }
  section.world .polygon:nth-child(2n) {
    margin-left: 84px;
  }
  section.world .polygon:nth-child(4) .pre-header {
    top: -36px;
    font-size: 23px;
    letter-spacing: -1.6px;
  }
  section.world .polygon:nth-child(4) h4 {
    margin-top: 18px;
  }
  section.world .polygon:nth-child(4) p {
    margin-top: -5px;
  }
  section.world .polygon-content h4 {
    padding-left: 30px;
    margin-top: -3px;
    letter-spacing: -1px;
    font-size: 77px;
  }
  section.world .polygon-content .small {
    font-size: 46px;
  }
  section.world .polygon-content p {
    padding-top: 20px;
    font-size: 20px;
  }
}
section.mapping {
  padding-top: 158px;
}
section.mapping img {
  padding-left: 55px;
}
section.mapping h2 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #448e28;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-transform: uppercase;
  padding-top: 14px;
}
section.mapping p {
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: -0.08px;
  line-height: 29px;
  padding-top: 3px;
  padding-left: 3px;
  margin-right: auto;
  margin-left: auto;
  width: 730px;
}
section.mapping p.colored {
  color: #448e28;
  margin-top: -13px;
  font-weight: bold;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.mapping {
    padding-top: 98px;
  }
  section.mapping img {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    display: block;
  }
  section.mapping h2 {
    width: 300px;
    padding-top: 10px;
    font-size: 32px;
    line-height: 40px;
  }
  section.mapping p {
    width: 300px;
    font-size: 16px;
    line-height: 26px;
  }
}
section.solutions {
  padding-top: 87px;
}
section.solutions h3 {
  color: #305791;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.14px;
  line-height: 40px;
  text-transform: uppercase;
}
section.solutions p {
  padding-top: 2px;
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: -0.08px;
  line-height: 27px;
  width: 558px;
}
section.solutions button {
  height: 42px;
  width: 180px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding-top: 3px;
}
section.solutions .row:nth-child(1) img {
  padding-left: 110px;
  padding-top: 75px;
}
section.solutions .row:nth-child(1) h3 {
  padding-left: 96px;
}
section.solutions .row:nth-child(1) p {
  padding-left: 95px;
}
section.solutions .row:nth-child(1) button {
  margin-left: 96px;
  margin-top: 20px;
}
section.solutions .row:nth-child(2) {
  padding-top: 125px;
}
section.solutions .row:nth-child(2) .col-sm-6 {
  padding-left: 29px;
}
section.solutions .row:nth-child(2) img {
  margin-left: -57px;
  padding-top: 85px;
}
section.solutions .row:nth-child(2) h3 {
  padding-left: 96px;
}
section.solutions .row:nth-child(2) p {
  padding-left: 95px;
}
section.solutions .row:nth-child(2) button {
  margin-left: 96px;
  margin-top: 21px;
  letter-spacing: 0.4px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  section.solutions {
    padding-top: 0;
  }
  section.solutions img {
    transform: scale(0.8);
  }
  section.solutions h3,
  section.solutions p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  section.solutions .row:nth-child(1) img {
    padding-left: 135px;
    padding-top: 58px;
  }
  section.solutions .row:nth-child(1) h3,
  section.solutions .row:nth-child(1) p {
    padding: 0;
  }
  section.solutions .row:nth-child(1) h3 {
    margin-top: 8px;
    font-size: 32px;
  }
  section.solutions .row:nth-child(1) p {
    padding-top: 7px;
    letter-spacing: -0.08px;
    line-height: 26px;
  }
  section.solutions .row:nth-child(1) button {
    margin-left: 98px;
    margin-top: 39px;
  }
  section.solutions .row:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  section.solutions .row:nth-child(2) img {
    margin-left: 111px;
    padding-top: 92px;
    transform: scale(0.75);
  }
  section.solutions .row:nth-child(2) h3,
  section.solutions .row:nth-child(2) p {
    padding: 0;
  }
  section.solutions .row:nth-child(2) h3 {
    margin-top: 0;
    font-size: 32px;
    width: 290px;
    padding-left: 17px;
  }
  section.solutions .row:nth-child(2) p {
    padding-top: 5px;
    padding-left: 16px;
    width: 340px;
    line-height: 26px;
  }
  section.solutions .row:nth-child(2) .col-sm-6 {
    padding-left: 0;
  }
  section.solutions .row:nth-child(2) button {
    margin-left: 113px;
    margin-top: 38px;
  }
}
.integrate {
  margin-top: 193px;
  padding-top: 100px;
  height: 789px;
  background-image: url("../img/home/integrate-background.png");
}
.integrate h2 {
  color: #448e28;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}
.integrate p {
  margin-top: 3px;
  color: #4a4a4a;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.1px;
  line-height: 32px;
  text-align: center;
}
.integrate .box {
  margin-top: 36px;
  height: 297px;
  width: 260px;
  background-color: #fff;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
}
.integrate .box-first {
  margin-left: 12px;
  padding-top: 33px;
}
.integrate .box-second {
  margin-left: 3px;
  padding-top: 46px;
}
.integrate .box-third {
  margin-left: -4px;
  padding-top: 46px;
}
.integrate .box-fourth {
  margin-left: -12px;
  padding-top: 47px;
}
.integrate .box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.integrate .box .stack1 {
  margin-bottom: 56px;
}
.integrate .box .stack2 {
  margin-bottom: 64px;
}
.integrate .box .stack3 {
  margin-bottom: 67px;
}
.integrate .box .stack4 {
  margin-bottom: 71px;
}
.integrate .box p {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #161616;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 24px;
  font-weight: normal;
}
.integrate button {
  margin-top: 63px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.integrate-btn {
  height: 41px;
  width: 240px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .integrate {
    height: unset;
    margin-top: 72px;
    padding-top: 50px;
    padding-bottom: 56px;
    background: url("../img/home/mobile-dots3.png") center 625px no-repeat, url("../img/home/mobile-integrate-background.svg");
  }
  .integrate h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .integrate p {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    font-size: 16px;
    color: #161616;
    letter-spacing: -0.08px;
    line-height: 26px;
    font-weight: normal;
  }
  .integrate .box {
    height: 242px;
  }
  .integrate .box p {
    width: 250px;
    line-height: 22px;
  }
  .integrate .box img {
    transform: scale(0.83);
  }
  .integrate .box-first,
  .integrate .box-second,
  .integrate .box-third,
  .integrate .box-fourth {
    margin-left: 9px;
    margin-top: 27px;
    padding-top: 32px;
    width: 327px;
    margin-bottom: -5px;
  }
  .integrate .box .stack1 {
    margin-bottom: 26px;
  }
  .integrate .box .stack2 {
    margin-top: 10px;
    margin-bottom: 38px;
  }
  .integrate .box .stack3 {
    margin-top: 18px;
    margin-bottom: 33px;
  }
  .integrate .box .stack4 {
    margin-top: 21px;
    margin-bottom: 35px;
  }
  .integrate button {
    margin-top: 44px;
    height: 42px;
    width: 247px;
  }
}
.gartner {
  margin-top: 80px;
  padding-bottom: 75px;
  color: #234d70;
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 32px;
  text-align: center;
}
.gartner p {
  width: 770px;
  margin-right: auto;
  margin-left: auto;
}
.gartner img {
  margin-top: 32px;
  height: 24px;
  width: 103px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gartner-btn {
  margin-top: 60px;
  height: 42px;
  width: 240px;
  border-radius: 2px;
  background-color: #305791;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-family: Rajdhani;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.07px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .gartner {
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 25px;
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(180deg, #fff 0%, #ebf3f9 54%, #f3f8fc 100%);
  }
  .gartner p {
    width: 320px;
  }
  .gartner img {
    margin-top: 40px;
    transform: scale(0.85);
  }
  .gartner-btn {
    margin-top: 37px;
    width: 200px;
  }
}
.footer {
  position: relative;
  height: 427px;
}
.footer-content {
  padding-top: 58px;
  height: 356px;
  background-color: #142c48;
}
.footer .home {
  margin-left: 9px;
}
.footer .platform {
  margin-left: 7px;
}
.footer .resources {
  margin-left: 0px;
}
.footer .solutions {
  margin-left: -7px;
}
.footer .company {
  margin-left: -12px;
}
.footer h5 > a {
  margin-bottom: 14px;
  color: #85a6b9;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.07px;
}
.footer li > a {
  display: inline-block;
  margin-top: 2px;
  padding-bottom: 22px;
  color: #dce5ec;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  line-height: 17px;
}
.footer ul {
  margin-top: -10px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 23px;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: -0.07px;
  font-weight: 400;
  color: #dce5ec;
  line-height: 17px;
}
.footer-floor {
  padding-top: 27px;
  height: 71px;
  background-color: #0e2133;
}
.footer-floor a,
.footer-floor p {
  color: #dce5ec;
  font-family: Rajdhani;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.07px;
  line-height: 18px;
}
.footer-floor .terms {
  margin-left: 3px;
}
.footer-floor p {
  margin-left: -5px;
}
.footer .logo {
  position: absolute;
  top: 48px;
  left: 40px;
}
@media only screen and (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
  .footer {
    height: 881px;
    background-color: #142c48;
  }
  .footer .logo {
    position: unset;
  }
  .footer img {
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .footer-content {
    padding-top: 42px;
    padding-left: 10px;
    height: unset;
  }
  .footer-content .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
  }
  .footer .home {
    margin-left: 7px;
    margin-bottom: 40px;
  }
  .footer .col-sm-1,
  .footer .col-sm-2,
  .footer .col-sm-3 {
    width: 50%;
  }
  .footer .platform {
    margin-bottom: 5px;
  }
  .footer .platform li > a {
    line-height: 20px;
  }
  .footer .resources {
    margin-left: 8px;
  }
  .footer .solutions {
    margin-left: 12px;
  }
  .footer .company {
    margin-left: 13px;
    margin-top: -14px;
  }
  .footer-floor {
    height: 139px;
    padding-top: 31px;
  }
  .footer-floor .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-floor a,
  .footer-floor p {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-floor p {
    margin-left: 0;
    padding-top: 20px;
  }
}
