@mobile-area: 375px;

.mobile(@rules) {
  @media (max-width: 415px) { @rules(); }
}

body {
  font-family: 'Rajdhani', sans-serif;
  background: url("../img/resources/dots.png") left 553px no-repeat;
}

.body-wrapper {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.scrollable-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-block {
  background: url("../img/resources/background.png") top center no-repeat;
  background-size: contain;

  .mobile({
    background: url(../img/resources/mobile-background.png) top no-repeat;
    background-size: contain;
  });

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

ul {
  list-style-type: none;
}

h1 {
  color: #448e28;
  font-size: 62px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -0.31px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 80%;
}

button:active {
  filter: brightness(85%);
}

button:hover {
  filter: brightness(90%);
}

.mobile-only {
  display: none;
}

.mobile({
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: unset;
  }
});

.header {
  position: relative;

  &-content {
    h1 {
      margin-top: 75px;
      color: #448E28;
      font-family: Rajdhani;
      font-size: 38px;
      font-weight: bold;
      letter-spacing: -0.19px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .container {
    margin-left: 165px;
    margin-right: 165px;
    padding-left: 0;
    padding-right: 0;
    .mobile ({
      margin: 0;
    });
  }

  .row {
    margin-left: -17px;
    margin-right: -17px;
  }

  .logo {
    margin-top: 0px;
    position: absolute;
    top: 21px;
    left: 30px;

    .mobile({
      width: 100%;
      top: 27px;
      left: 32px;
    });

  }

  .menu {
    float: right;
    position: relative;
    z-index: 10;

    .mobile({
      display: none;
    });

    ul {
      float: left;
      padding-right: 27px;
      padding-top: 24px;
    }

    li {
      display: inline;
      padding-left: 27px;

      &.active {
        & > a {
          &:before {
            content: url("../img/left-bkt.svg");
            position: absolute;
            left: -15px;
            top: 1px;
          }

          &:after {
            content: url("../img/right-bkt.svg");
            position: absolute;
            left: -15px;
            top: 1px;
          }
        }
      }

      &:nth-child(2) {
        &.active {
          a {
            &:after {
              left: 5px;

            }
          }
        }
      }

      &:nth-child(3) {
        &.active {
          a {
            &:after {
              left: 10px;
            }
          }
        }
      }

      &:nth-child(4) {
        &.active{
          a {
            &:after {
              left: 15px;
            }
          }
        }
      }

      &:nth-child(5) {
        &.active{
          a {
            &:after {
              left: 12px;
            }
          }
        }
      }

      &:hover {
        & > a {
          color: #448E28;
        }

        .modals {
          display: block;
        }
      }
    }

    a {
      color: #234D70;
      font-family: Rajdhani;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.08px;
      line-height: 21px;

      position: relative;

      &:hover, &:focus, &:visited {
        text-decoration: none;
      }
    }

    button {
      height: 36px;
      width: 130px;
      border-radius: 2px;
      background-color: #305791;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
      border: none;
      color: #FFF;
      font-family: Rajdhani;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.08px;
      line-height: 19px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 4px;
      padding-left: 5px;
      margin-top: 16px;
      margin-right: 57px;
      display: block;
    }

    .modals {
      position: absolute;
      top: 0;
      display: none;

      li {
        display: block;
        padding-left: 24px;
        padding-bottom: 16px;

        a {
          color: #234D70;
          font-family: "Rajdhani";
          font-weight: 600;
          font-size: 16px;
          letter-spacing: -0.08px;
          line-height: 21px;
        }

        &:hover {
          a {
            color: #448E28;
          }
        }
      }

      ul {
        padding: 25px 0;
        background-color: white;
        box-shadow: 0 1px 30px 0 rgba(0,0,0,0.15);
      }

      &.resources {
        left: 288px;

        ul {
          height: 145px;
          width: 150px;
          margin-top: 53px;
        }
      }

      &.platform {
        left: 134px;

        ul {
          height: 254px;
          width: 250px;
          margin-top: 66px;
        }
      }

      &.solutions {
        left: 220px;

        ul {
          height: 320px;
          width: 180px;
          margin-top: 66px;
        }
      }

      &.company {
        left: 410px;

        ul {
          height: 175px;
          width: 130px;
          margin-top: 66px;
        }
      }
    }
  }

  .menu-open {
    display: none;
    position: absolute;
    top: 19px;
    right: 14px;
    -webkit-appearance: button;
    background: 0 0;
    border: 0;
    box-shadow: none;
  }

  .sticky-menu {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition: background 1s;

    &.fixed {
      background: white;
    }

    @media (max-width: 776px) {
      height: 60px;
    }
  }

  @media (max-width: 776px) {
    height: 227px;
    margin-bottom: 52px;

    .container, .row, .logo, .col-md-* {
      margin: 0;
    }

    &-content {
      h1 {
        width: 375px;
        font-size: 28px;
        letter-spacing: 0;
        margin-top: 107px;
      }
    }

    .logo {
      width: 100%;
      top: 18px;
      left: 19px;
    }

    .menu {
      display: none;
    }

    .menu-open, .mobile-menu {
      display: block;
    }
  }
}

.tabs {
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  width: 1200px;
  max-width: 100%;
  border: 1px solid #EBF0F4;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);

  &-header {
    margin-top: -21px;

    & > * {
      z-index: 1;
    }

    .tag {
      height: 40px;
      width: 100%;
      border: 1px solid #B7CBD6;
      border-left: none;
      border-radius: 2px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      box-shadow: none;
      border: none;
      margin-top: -1px;
      margin-left: -3px;
      padding-top: 12px;
      color: #FFFFFF;
      font-family: Rajdhani;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      background-color: #305791;
      border-radius: 2px 0 0 2px;
    }

    .nav-tabs > li > a {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      color: #305791;
      background-color: #FFFFFF;
      font-family: Rajdhani;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      z-index: 99;
    }
  }

  .tab-content {
    padding-top: 4px;
  }

  & > .container {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-tabs {
    display: flex;
    border-left: 1px solid #B7CBD6;
    border-bottom: none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    @media (min-width: 524px) {
      width: 78%;
    }

    @media (min-width: 992px) {
      width: 48%;
    }
  }

  .mobile({
    width: 100%;

    .tabs-header {
      margin-top: -3px;
      margin-left: 0;
      width: 100%;

      .tag {
        height: 34px;
      }
    }

    .container {
      padding: 0;
      margin: 0;
    }

    .col-md-6 {
      padding: 0;
    }

    .nav-tabs {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .nav-tabs > li > a,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      font-size: 13px;
      height: 34px;
      padding-top: 9px;
    }

    .nav-tabs > li > a {
      padding-top: 7px;
    }
  });

  .tab-pane {
    padding-top: 100px;
    margin-top: -100px;
  }
}

#datasheet {
  .datasheet {
    display: block;
    margin-top: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &-left {
      margin-top: -23px;
      margin-left: -15px;
      height: 714px;
      border: 1px solid #EBF0F4;
      background: linear-gradient(180deg, #FCFEFF 0%, #EEF2F5 100%);
    }

    &-form {
      padding-left: 40px;
      padding-right: 40px;

      @media (min-width: 992px) {
        padding-left: 73px;
        padding-right: 15px;
      }

      .description {
        margin: -4px 0 11px 0;

      }

      .form-field {
        margin-top: 20px;
      }

      .name-row {
        margin-left: -12px;
        margin-right: -12px;

        .col-md-6 {
          padding-left: 12px;
          padding-right: 12px;
        }
      }

      p {
        margin-top: 80px;
        color: #4A4A4A;
        font-family: Lato;
        font-size: 15px;
        letter-spacing: -0.07px;
        line-height: 20px;
      }

      legend {
        margin-bottom: 13px;
        color: #161616;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -0.06px;
        line-height: 16px;
        border: none;
      }

      input:not([type="checkbox"]) {
        margin-top: -5px;
        padding-left: 16px;
        height: 40px;
        width: 100%;
        border: 1px solid #B9CED9;
        border-radius: 2px;
        background-color: #FFFFFF;
      }

      ::-webkit-input-placeholder {
        color: #CAD2D9;
        font-family: Lato;
        font-size: 13px;
        letter-spacing: -0.06px;
        line-height: 16px;
      }

      .information {
        margin-top: 17px;

        input {
          height: 8px;
          width: 8px;
          transform: scale(2);
          margin-left: 4px;
          margin-right: 8px;
          //border: 1px solid #B9CED9;
          //-webkit-appearance: none;

          &:focus {
            outline-offset: 0;
          }
        }

        label {
          color: #161616;
          font-family: Lato;
          font-size: 13px;
          letter-spacing: -0.06px;
          line-height: 26px;
        }
      }

      button {
        display: block;
        margin: 39px auto 50px auto;
        color: #FFFFFF;
        font-family: Rajdhani;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.07px;
        line-height: 19px;
        text-align: center;
        height: 42px;
        width: 228px;
        border-radius: 2px;
        background-color: #305791;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        border: none;
      }
    }
  }

  .download {
    display: inline-block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    color: #448E28;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 26px;
    text-align: center;
  }

  .mobile({
    padding-bottom: 100px;
    max-width: @mobile-area;

    .datasheet-left {
      max-width: @mobile-area;
      height: 395px;
      margin-left: auto;
      margin-right: auto;
    }

    .datasheet {
      display: block;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;

      &-form {
        padding-left: 0;
        padding-right: 0;

        .description.row {
          margin: 0;
        }

        p {
          text-align: center;
          width: 260px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 54px;
          letter-spacing: -0.3px;
        }

        .form-field {
          margin-top: 11px;
        }

        form {
          padding-left: 38px;
          width: 365px;
          max-width: 90%;
        }

        input:not([type="checkbox"]) {
          margin-bottom: 5px;
          width: 326px;
          max-width: 100%;
        }

        .information {
          margin-top: 17px;

          input {
            height: 12px;
            width: 12px;
            margin-right: 14px;
          }

          label {
            letter-spacing: -0.19px;
          }
        }

        button {
          display: block;
          margin-top: 28px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 326px;
          max-width: 90%;
          height: 41px;
        }
      }
    }

    .download {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 330px;
      text-decoration: none;
      margin-top: 33px;
      letter-spacing: -0.6px;
    }
  });
}

#news {
  .container {
    padding: 0;

    & > .row {
      width: 1170px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    width: 320px;
    margin: 52px auto 4px auto;
    color: #305791;
    font-family: Rajdhani;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.14px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .green {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #448E28;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 26px;
  }

  .cards {
    width: 100%;
    margin: 45px auto 55px auto;

    .row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card {
      height: 160px;
      border-radius: 2px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 15px 0 rgba(132, 132, 132, 0.3);
      display: flex;
      margin-bottom: 24px;

      &.col-md-6 {
        @media (min-width: 992px) {
          width: 40%;
          max-width: 544px;
        }

        @media (min-width: 1200px) {
          width: 50%;
        }
      }
    }

    .date {
      display: inline-block;
      position: relative;
      width: 30%;
      height: 100%;
      padding: 0;
      margin: 0;
      margin-left: 3px;
      float: left;

      background: url("../img/resources/polygon.svg") center center no-repeat;

      p {
        color: #609127;
        font-family: Rajdhani;
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        text-align: center;
      }

      .month {
        letter-spacing: 0.25px;
        text-transform: uppercase;
        margin-top: 61px;
      }

      .year {
        font-weight: bold;
        letter-spacing: -0.09px;
        margin-top: -15px;
      }
    }

    .info {
      display: inline-block;
      width: 70%;
      height: 100%;
      padding: 0;
      margin: 0;
      float: right;

      h3 {
        margin-top: 41px;
        color: #305791;
        font-family: Rajdhani;
        font-size: 22px;
        letter-spacing: -0.3px;
        line-height: 24px;
      }

      b {
        letter-spacing: -0.11px;
      }

      p {
        width: 300px;
        max-width: 100%;
        color: #4A4A4A;
        font-family: Lato;
        font-size: 15px;
        letter-spacing: -0.07px;
        line-height: 23px;
      }
    }
  }

  .trial-button {
    button {
      margin: 48px auto 62px auto;
      height: 40px;
      width: 228px;
      border-radius: 2px;
      background-color: #305791;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
      color: #FFFFFF;
      font-family: Rajdhani;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 19px;
      text-transform: uppercase;
      border: none;
    }
  }

  @media (max-width: 870px) {
    .container, .row {
      margin: 0 auto;
      padding: 0;
    }

    .container > .row {
      max-width: 90%;
    }

    h2 {
      margin: 45px auto 16px auto;
    }

    .green {
      letter-spacing: -0.5px;
      max-width: 80%;
    }

    .cards {
      max-width: 100%;
      margin-top: 40px;
      margin-bottom: 28px;

      .row {
        margin: 0;
      }

      .card {
        height: 100%;
        max-width: 90%;

        margin: 0 auto 23px auto;
        display: flex;
        flex-direction: column;

        .date {
          display: block;
          margin: 11px auto 0 auto;
          height: 120px;

          .month {
            margin-top: 39px;
          }
        }

        .info {
          display: block;
          margin: 2px auto 0 auto;
          padding-bottom: 26px;
          text-align: center;
          width: 100%;

          h3 {
            margin: 0 auto;
          }

          p {
            margin: 18px auto;
            letter-spacing: 0.4px;
            line-height: 25px;
          }
        }
      }
    }

    .trial-button {
      button {
        margin-top: 40px;
        width: 328px;
        max-width: 90%;
        margin-bottom: 100px;
      }
    }
  }

  .mobile({
    .container > .row {
      width: @mobile-area;
      max-width: 100%;

    }

    .green {
      width: 300px;
      max-width: 80%;
    }

    .cards {
      width: @mobile-area;

      .card {
        width: 328px;

        .info {
          h3 {
            width: 270px;
            max-width: 90%;
          }

          p {
            width: 280px;
            max-width: 90%;
          }

        }
      }
    }
  });
}

#integrations {
  .container {
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
  }

  h2 {
    width: 484px;
    color: #448E28;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 26px;
    margin: 50px auto 37px auto;
  }

  p {
    display: block;
    position: absolute;
    top: 129px;
    left: 29px;
    width: 202px;
    color: #161616;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: -0.07px;
    line-height: 24px;
  }

  img {
    transform: translate(0, -50%);
  }

  .row {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:nth-child(2) {
      padding-left: 24px;
    }
  }

  .rectangle {
    position: relative;
    height: 277px;
    width: 260px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.1);
    margin: 24px 24px 0 0;
    padding-top: 66px;
  }

  .button-row {
    margin-top: 55px;
    margin-bottom: 100px;

    button {
      height: 42px;
      width: 228px;
      border-radius: 2px;
      background-color: #305791;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
      border: none;
      color: #FFFFFF;
      font-family: Rajdhani;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -0.07px;
      line-height: 19px;
      text-transform: uppercase;
    }
  }

  .mobile({

    h2 {
      display: block;
      margin: 46px auto 48px auto;
      width: 320px;
      max-width: 80%;
      letter-spacing: -0.6px;
    }
  });
}

.footer {
  position: relative;
  height: 427px;

  &-content {
    padding-top: 58px;
    height: 356px;
    background-color: #142c48;
  }

  .home {
    margin-left: 9px;
  }

  .platform {
    margin-left: 7px;
  }

  .resources {
    margin-left: 0px;
  }

  .solutions {
    margin-left: -7px;
  }

  .company {
    margin-left: -12px;
  }

  h5 > a {
    margin-bottom: 14px;
    color: #85A6B9;
    font-family: Rajdhani;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: -0.07px;
  }

  li > a {
    display: inline-block;
    margin-top: 2px;
    padding-bottom: 22px;
    color: #DCE5EC;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: -0.07px;
    line-height: 17px;
  }

  ul {
    margin-top: -10px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 23px;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: -0.07px;
    font-weight: 400;
    color: #DCE5EC;
    line-height: 17px;
  }

  &-floor {
    padding-top: 27px;
    height: 71px;
    background-color: #0e2133;

    a, p {
      color: #DCE5EC;
      font-family: Rajdhani;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.07px;
      line-height: 18px;
    }

    .terms {
      margin-left: 3px;
    }

    p {
      margin-left: -5px;
    }
  }

  .logo {
    position: absolute;
    top: 48px;
    left: 40px;
  }

  @media (max-width: 1130px) {
    height: 881px;
    background-color: #142c48;

    .logo {
      position: unset;
    }

    img {
      padding-top: 72px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &-content {
      padding-top: 42px;
      padding-left: 10px;
      height: unset;
      margin-left: 15px;

      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 600px;
        max-width: 365px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .home {
      margin-left: 7px;
      margin-bottom: 40px;
    }

    .col-md-1, .col-md-2, .col-md-3 {
      width: 50%;
    }

    .col-md-offset-1, .col-md-offset-2 {
      margin-left: 0;
    }

    .platform {
      margin-bottom: 5px;

      li > a {
        line-height: 20px;
      }
    }

    .resources {
      margin-left: 8px;
    }

    .solutions {
      margin-left: 12px;
    }

    .company {
      margin-left: 13px;
      margin-top: -14px;
    }

    &-floor {
      height: 139px;
      padding-top: 31px;

      .row {
        display: flex;
        flex-wrap: wrap;

        & > [class*=col-] {
          margin-left: -1px;
          margin-right: -1px;
          padding-right: 0;
        }
      }

      a, p {
        padding-left: 16px;
        padding-right: 16px;
      }

      p {
        margin-left: 0;
        padding-top: 20px
      }
    }

    .pixart {
      padding-top: 20px;
    }
  }

  .pixart a {
    color: #dce5ec;
    font-weight: 600;
  }

  .mobile({
    &-content {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  });
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 1%, rgba(241, 245, 248, 0.96) 50%, #f0f4f7 100%);

  .logo {
    position: absolute;
    top: 21px;
    left: 30px;
  }

  &#menu-root {
    a, span {
      font-size: 22px;
    }

    ul {
      padding: 107px 0;
    }

    li {
      margin-bottom: 28px;
    }
  }

  &#menu-resources, &#menu-platform, &#menu-solutions, &#menu-company, &#menu-root {
    width: 100%;
    min-height: 100%;
    left: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.6s;

    &.opened {
      transform: unset;
    }
  }

  .menu-list {
    a, span {
      font-family: Rajdhani;
      font-size: 18px;
      color: #234d70;
      letter-spacing: -0.11px;
      font-weight: 600;
    }
  }

  ul {
    padding: 96px 0 200px 0;
    margin: 0;
  }

  li {
    position: relative;
    text-align: center;
    margin-bottom: 29px;

    @media (max-height: 568px) {
      margin-bottom: 15px;
    }
  }

  .next {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
  }

  .back {
    position: absolute;
    top: 18px;
    left: 13px;
    -webkit-appearance: button;
    background: 0 0;
    border: 0;
  }

  .trial-button {
    position: absolute;
    bottom: 87px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 246px;
    padding-top: 5px;
    border-radius: 2px;
    background-color: #305791;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    font-family: Rajdhani;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.07px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }

  .menu-title {
    margin-top: -33px;
    font-family: Rajdhani;
    font-size: 22px;
    color: #448e28;
    letter-spacing: -0.11px;
    text-align: center;
    line-height: 27px;
    font-weight: 600;
  }

  @media (max-width: 776px) {
    display: block;
  }
}

.menu-block {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;

  &.opened {
    z-index: 1000;
  }
}
